Warning: These facilities are solely for the use of authorized employees or agents of the Company, its subsidiaries, and affiliates.  Unauthorized use is prohibited and subject to criminal and civil penalties. Subject to applicable law, individuals using this computer system should have no expectation of privacy and are subject to having all of their activities on this system monitored and recorded.